* text=auto !eol
Greensheets-Form-Builder/settings.xml -text
URI_Resolver/settings.xml -text
coppa/settings.xml -text
ctd2dashboard/settings.xml -text
dtp_sarcoma/settings.xml -text
firebird/settings-qa.xml -text
firebird/settings-stage.xml -text
firebird/settings.xml -text
lexevs-service/settings.xml -text
mfhp/settings-stage.xml -text
mfhp/settings.xml -text
nciscm/ncimvn-dev-settings-qa-releases.xml -text
nciscm/settings.xml -text
tcga/settings.xml -text
tcgadcc/settings.xml -text
template/settings.xml -text
