<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
<localRepository>${user.home}/.m2/${m2RepoName}</localRepository>
  <mirrors>
    <mirror>
      <!-- This sends everything else to /public -->
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>https://ncimvn.nci.nih.gov/nexus/content/groups/public</url>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>nexus</id>
      <!-- Enable snapshots for the built in central repo to direct -->
      <!-- all requests to nexus via the mirror -->
      <repositories>
        <repository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>
     <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <id>tcga-dev</id>
        <activation>
            <activeByDefault>false</activeByDefault>
            <property>
                <name>env</name>
                <value>dev</value>
            </property>
        </activation>
		<properties>
			<quartzDBUnitUsername>antqrtz</quartzDBUnitUsername>
			<quartzDBUnitPassword>antUn1tp0r</quartzDBUnitPassword>
			<gwt.os.version>linux</gwt.os.version>
			<altDeploymentRepository>snapshots::default::https://ncimvn.nci.nih.gov/nexus/content/repositories/snapshots</altDeploymentRepository>
			<annotationsCommDBUnitUsername>antannotcomm</annotationsCommDBUnitUsername>
			<annotationsCommDBUnitPassword>antUn1tp0r</annotationsCommDBUnitPassword>
			<annotationsPortalDBUnitUsername>antannotportal</annotationsPortalDBUnitUsername>
			<annotationsPortalDBUnitPassword>antUn1tp0r</annotationsPortalDBUnitPassword>
			<damCommDBUnitUsername>antdamcomm</damCommDBUnitUsername>
			<damCommDBUnitPassword>antUn1tp0r</damCommDBUnitPassword>
			<damPortalDBUnitUsername>antdamportal</damPortalDBUnitUsername>
			<damPortalDBUnitPassword>antUn1tp0r</damPortalDBUnitPassword>
			<databrowserCommDBUnitUsername>antdbrocomm</databrowserCommDBUnitUsername>
			<databrowserCommDBUnitPassword>antUn1tp0r</databrowserCommDBUnitPassword>
			<databrowserPortalDBUnitUsername>antdbroportal</databrowserPortalDBUnitUsername>
			<databrowserPortalDBUnitPassword>antUn1tp0r</databrowserPortalDBUnitPassword>
			<datareportsCommDBUnitUsername>antdrepcomm</datareportsCommDBUnitUsername>
			<datareportsCommDBUnitPassword>antUn1tp0r</datareportsCommDBUnitPassword>
			<datareportsPortalDBUnitUsername>antdrepportal</datareportsPortalDBUnitUsername>
			<datareportsPortalDBUnitPassword>antUn1tp0r</datareportsPortalDBUnitPassword>
			<qcliveCommDBUnitUsername>antqclvcomm</qcliveCommDBUnitUsername>
			<qcliveCommDBUnitPassword>antUn1tp0r</qcliveCommDBUnitPassword>
			<qclivePortalDBUnitUsername>antqclvportal</qclivePortalDBUnitUsername>
			<qclivePortalDBUnitPassword>antUn1tp0r</qclivePortalDBUnitPassword>
			<devCommDBUsername>antcommcomm</devCommDBUsername>
			<devCommDBPassword>antUn1tp0r</devCommDBPassword>
			<devPortalDBUsername>antcommportal</devPortalDBUsername>
			<devPortalDBPassword>antUn1tp0r</devPortalDBPassword>
			<commonCommDBUnitUsername>antcommcomm</commonCommDBUnitUsername>
			<commonCommDBUnitPassword>antUn1tp0r</commonCommDBUnitPassword>
			<commonPortalDBUnitUsername>antcommportal</commonPortalDBUnitUsername>
			<commonPortalDBUnitPassword>antUn1tp0r</commonPortalDBUnitPassword>
			<uuidCommDBUnitUsername>antuuidcomm</uuidCommDBUnitUsername>
			<uuidCommDBUnitPassword>antUn1tp0r</uuidCommDBUnitPassword>
			<uuidPortalDBUnitUsername>antuuidportal</uuidPortalDBUnitUsername>
			<uuidPortalDBUnitPassword>antUn1tp0r</uuidPortalDBUnitPassword>
		</properties>
        <repositories>
            <repository>
                <id>central</id>
                <url>http://central</url>
                <releases>
                    <enabled>true</enabled>
                </releases>
                <snapshots>
                    <updatePolicy>always</updatePolicy>
                    <enabled>true</enabled>
                </snapshots>
            </repository>
        </repositories>
    </profile>
    <profile>
        <id>tcga-prototype</id>
        <activation>
            <activeByDefault>false</activeByDefault>
            <property>
                <name>env</name>
                <value>prototype</value>
            </property>
        </activation>
        <repositories>
            <repository>
                <id>central</id>
                <url>http://central</url>
                <releases>
                    <enabled>true</enabled>
                </releases>
                <snapshots>
                    <updatePolicy>never</updatePolicy>
                    <enabled>false</enabled>
                </snapshots>
            </repository>
        </repositories>
    </profile>
    <profile>
        <id>tcga-qa</id>
        <activation>
            <activeByDefault>false</activeByDefault>
            <property>
                <name>env</name>
                <value>qa</value>
            </property>
        </activation>
        <repositories>
            <repository>
                <id>central</id>
                <url>http://central</url>
                <releases>
                    <enabled>true</enabled>
                </releases>
                <snapshots>
                    <updatePolicy>never</updatePolicy>
                    <enabled>false</enabled>
                </snapshots>
            </repository>
        </repositories>
    </profile>
    <profile>
        <id>tcga-stage</id>
        <activation>
            <activeByDefault>false</activeByDefault>
            <property>
                <name>env</name>
                <value>stage</value>
            </property>
        </activation>
        <repositories>
            <repository>
                <id>central</id>
                <url>http://central</url>
                <releases>
                    <enabled>true</enabled>
                </releases>
                <snapshots>
                    <updatePolicy>never</updatePolicy>
                    <enabled>false</enabled>
                </snapshots>
            </repository>
        </repositories>
    </profile>
    <profile>
        <id>tcga-temp-prod</id>
        <activation>
            <activeByDefault>false</activeByDefault>
            <property>
                <name>environment</name>
                <value>prod</value>
            </property>
        </activation>
		<properties>
			<server.and.port>https://tcga-data-prod.nci.nih.gov</server.and.port>
			<tcga.dcc.serverUrl>https://tcga-data-prod.nci.nih.gov</tcga.dcc.serverUrl>
			<application.url>https://tcga-data-prod.nci.nih.gov/annotations</application.url>
			<tcga.dataportal.tooltipfile>http://tcga-data-prod.nci.nih.gov/web/other/include/level4_tooltips.txt</tcga.dataportal.tooltipfile>
			<label.directDownload><![CDATA[<ol start="3"><li>If you prefer to access the downloads directly you may use <a href="https://tcga-data-prod.nci.nih.gov/tcgafiles/ftp_auth/distro_ftpusers/anonymous/tumor/"><b>our open-access repository</b></a> or <a href="https://tcga-data-prod.nci.nih.gov/tcgafiles/ftp_auth/distro_ftpusers/tcga4yeo/tumor/"><b>our controlled-access repository</b></a>]]></label.directDownload>
			<platformdesigns.centerDesc><![CDATA[provides the Center Name (domain) for the center that is submitting data for a particular platform. A <a href="http://tcga-data-prod.nci.nih.gov/tcga/AllTCGACenters.htm">report</a> is available that provides a relationship between Center Name (domain), Center Type, Center Display Name, and BCR Center ID (Data Generating Center).]]></platformdesigns.centerDesc>
			<platformdesigns.codeDesc><![CDATA[<provides the code used in TCGA to represent a platform. The code is used in archive and file names and file contents. A <a href="http://tcga-data-prod.nci.nih.gov/tcga/AllTCGAPlatforms.htm">report</a> is available that provides the relationship between TCGA Platform Code and Platform Name.]]></platformdesigns.codeDesc>
			<platformdesigns.nameDesc><![CDATA[<provides the vendor's name of a particular platform. The Platform Name links to the best approximation of a direct link to the platform's main information page. On the venor's page you may find links to the vendor's annotation files and other supporting materials. The DCC does not collect or track vendor annotations. If you have trouble finding the vendor's supporting materials, we reccomend you contact the vendor directly. A <a href="http://tcga-data-prod.nci.nih.gov/tcga/AllTCGAPlatforms.htm">report</a> is available that provides the relationship between TCGA Platform Code and Platform Name.]]></platformdesigns.nameDesc>
		</properties>
        <repositories>
            <repository>
                <id>central</id>
                <url>http://central</url>
                <releases>
                    <enabled>true</enabled>
                </releases>
                <snapshots>
                    <updatePolicy>never</updatePolicy>
                    <enabled>false</enabled>
                </snapshots>
            </repository>
        </repositories>
    </profile>
    <profile>
        <id>tcga-prod</id>
        <activation>
            <activeByDefault>false</activeByDefault>
            <property>
                <name>env</name>
                <value>prod</value>
            </property>
        </activation>
        <repositories>
            <repository>
                <id>central</id>
                <url>http://central</url>
                <releases>
                    <enabled>true</enabled>
                </releases>
                <snapshots>
                    <updatePolicy>never</updatePolicy>
                    <enabled>false</enabled>
                </snapshots>
            </repository>
        </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <!-- make the profile active all the time -->
    <activeProfile>nexus</activeProfile>
  </activeProfiles>
  
  <pluginGroups>
    <!-- define the sonatype plugin group, so the nexus plugins will work without typing the groupId -->
  	<pluginGroup>org.sonatype.plugins</pluginGroup>
  </pluginGroups>

   <servers> 
       <server> 
      <id>releases</id> 
      <username>deployment</username> 
     <password>{xUz3HzafvhgHipUnTFqtzRh92R7AGz/H26uLrb8Bk0g=}</password> 
    </server> 
    <server> 
      <id>snapshots</id> 
      <username>deployment</username> 
      <password>{xUz3HzafvhgHipUnTFqtzRh92R7AGz/H26uLrb8Bk0g=}</password> 
    </server> 
    <server>
      <id>sites</id>
      <username>deployment</username>
      <password>{xUz3HzafvhgHipUnTFqtzRh92R7AGz/H26uLrb8Bk0g=}</password>
    </server>
    <server>
      <id>ncisvn.nci.nih.gov</id>
      <username>nciscm</username>
      <password>{JF+cCaje5g0H6U5UfiPDC/PIx+7PxjWju3fg2LxQAL8=}</password>
    </server>
   </servers> 

  
</settings>
